html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: Montserrat;
}
.flower-container{
    background-image: url("../images/Background.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.background{
    display: block;
    width: 100%;
    max-width: 100%;
    height: 776px;
    
}
.text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        font-size: 80px;
        font-weight: 700;
        line-height: 81px;
        letter-spacing: -0.8999999761581421px;
        text-align: center;
        color: #FFFFFF;
    }
    p{
        font-size: 30px;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: -0.3499999940395355px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 24px;
        margin-bottom: 40px;
        width: 720px;
        height: 74px;
    }
}
#hero-saas{
    width: 100%;
    max-width: 100%;
    height: 776px;
    background-color: #05285B;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .content{
        display: flex;
        flex-direction: column;
        margin-left: 165px;
        gap: 10px;
        
        .text2{
            gap: 12px;
            display: flex;
            flex-direction: column;
            width: 500px;
            height: 248px;

            h1{
                font-family: Montserrat;
                font-size: 60px;
                font-weight: 700;
                line-height: 70px;
                letter-spacing: -0.699999988079071px;
                text-align: left;
                color: #FFFFFF;
            }
            p{
                font-family: Open Sans;
                font-size: 20px;
                font-weight: 400;
                line-height: 32px;
                text-align: left;
                color: #FFFFFF;
    
            } 
        }
        .button-red{
            margin-top: 22px;
        }
        .schedule{
            display: flex;
            align-items: center;
            gap: 12px;
        }
        .calendar{
            width: 24px;
            height: 24px;
            padding: 2px 3.5px 2.5px 3px;

        }
        span{
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            text-align: left;
            color: #FFFFFF;

        }
    }
    .img{
        width: 729.35px;
        height: 621.59px;
        margin-top: 150px;
        margin-right: 95px;
    }
}

